.animation{
    padding:25px 15px;
    position: fixed;
    top: 20%;
    left:57%;
    transform: rotate(90deg);
    overflow: hidden;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 20px;
        font-size: 1rem;
        color: var(--text-100);
        animation: move-animation 5s linear infinite;
        overflow: hidden;
        li{
            border-radius: 5px;
            background: var(--bg-200);
            border: 1px solid var(--primary-200);
            padding: 5px 10px;
            opacity: 40%;
            &:nth-child(3n) {
                background: var(--primary-200);
                color: var(--bg-100);
                border: 1px solid var(--primary-100);
            }
        }
    }
}

.animation::after{
    position : absolute;
    content: "";
    top:0;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 100%;
    pointer-events: none;
}
.animation ul:nth-child(2) {
    animation-direction: reverse;
}
.animation ul:nth-child(3) {
    animation-duration: 8s;
}
.animation ul:nth-child(4) {
    animation-duration: 6s;
}

@keyframes move-animation {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@media (max-width: 810px) {
    .animation {
        left: 45%;
    }
}

@media (max-width: 600px) {
    .animation {
        left: 35%;
    }
}

@media (max-width: 475px) {
    .animation {
        left: 20%;
    }
}