.navBar{
  width: 100%;
  height: 60px;
  background-color: var(--accent-100);
  position: fixed;
  bottom: 0;
  z-index: 30;
  .navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    margin-left: auto;
    background-color: var(--bg-100);
    button{
      margin-right: 2rem;
      padding: 7px 15px;
      display: flex;
      align-items: center;
    }
  }
}
.navbar-items{
  display: flex;
  align-items: center;
  width: 45%;
}
  
.navbar-item{
  height: 60px;
  padding-inline: 2rem;
  cursor: pointer;
  color: var(--text-100);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 260ms cubic-bezier(0.4,0,0.2,1), margin 260ms cubic-bezier(0.4,0,0.2,1), background-color 260ms cubic-bezier(0.4,0,0.2,1), color 260ms cubic-bezier(0.4,0,0.2,1), border-radius 260ms cubic-bezier(0.4,0,0.2,1);
}

.navbar-item .svg-icon {
  transition: fill 260ms cubic-bezier(0.4,0,0.2,1), transform 260ms cubic-bezier(0.4,0,0.2,1);
}

.navbar-item:hover,
.navbar-item.active{
  height: 72px; /* menos salto */
  margin-top: -12px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  background-color: var(--primary-100);
  color: var(--bg-100);
  font-weight: 700;
  svg{
    fill: var(--bg-100);
    color: var(--bg-100);
  }
}

@media (max-width: 940px){
  .navBar{
    display: none;
  }
}

/* 876 */