.experience-developer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: center;
  gap: 2rem;
  padding: 2rem 5rem;
}

.experience-item {
  background: linear-gradient(90deg, var(--bg-100) 0%, var(--bg-300) 100%);
  border-radius: 1.2rem;
  box-shadow: 0 4px 24px rgba(255, 255, 255, 0.07);
  border: 2px solid var(--primary-200);
  padding: 2rem;
  transition: box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.experience-item:hover {
  box-shadow: 0 8px 32px var(--primary-200);
  cursor:pointer;
}

.experience-item h3 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: var(--text-100);
}

.experience-item p {
  margin: 0.5rem 0;
  font-size: .8rem;
  color: var(--text-200);
}

.experience-date {
  font-size: 0.95rem;
  color: var(--accent-200);
  font-weight: 500;
}

.experience-item ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.7rem;
  margin-top: 1rem;
  padding: 0;
  list-style: none;
}

.experience-icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
  border-radius: 0.5rem;
  background: #f5f5f5;
  padding: 0.3rem;
  box-shadow: 0 1px 4px rgba(225, 0, 0, 0.05);
}

.window_icon:hover{
  fill: var(--primary-200);
}


@media (max-width: 600px) {
  .experience-developer {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .experience-item {
    padding: 1rem;
  }
  .experience-icon{
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 515px) {
  .experience-item {
    width: 270px;
    p{
      font-size: .5rem;
    }
  }
}