.experience {
  width: 100%;
  display: flex;
        flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 0 2rem;

  .experience-developer,
  .experience-design {
    padding-block: 15px;
    .experience-item {
      width: 500px;
      margin-block: 10px;
      padding-block: 10px;
      border-top: 1px solid var(--text-100);
      border-bottom: 1px solid var(--text-100);
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: start;
      p {
        font-size: 14px;
        font-weight: 500;
        &:nth-child(4) {
          font-size: 16px;
          color: var(--accent-200);
        }
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        li {
          border: 1px solid var(--accent-200);
          border-radius: 5px;
          background-color: var(--primary-200);
          color: var(--text-100);
          margin: 5px 10px;
          padding: 4px 10px;
          width: fit-content;
        }
      }
      a {
        cursor: pointer;
        display: inline-block;
        animation: bounce 1s infinite;
      }
    }
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}


@media (max-width: 900px) {
  .experience {
    flex-direction: column;
    align-items: center;
    gap: 2rem 0;
  }
  .experience-developer,
  .experience-design {
    width: 100%;
    max-width: 500px;
  }
}

@media (max-width: 600px) {
  .experience {
    padding: 0 10px;
    .experience-developer,
    .experience-design {
      .experience-item {
        max-width: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        text-align: center;
        ul{
          justify-content: center;
        }
        svg{
          transform: rotate(90deg);
          margin-top: 5px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .experience-developer .experience-item,
  .experience-design .experience-item {
    width: 100%;
    padding: 8px 2px;
    .experience-item p {
      font-size: 10px;
    }
  }
  .experience-item ul li {
    font-size: 12px;
    margin: 3px 5px;
    padding: 3px 6px;
  }
}

@media (max-width: 350px) {
  .container {
    padding: 0 2px;
  }
  .experience {
    padding: 0 2px;
  }
  .experience-developer .experience-item,
  .experience-design .experience-item {
    width: 100%;
    padding: 5px 0;
  }
  .experience-item h3 {
    font-size: 14px;
  }
  .experience-item p,
  .experience-date,
  .experience-mode {
    font-size: 10px;
  }
  .experience-item ul li {
    font-size: 10px;
    margin: 2px 3px;
    padding: 2px 4px;
  }
}
