.sideBar{
    position: fixed;
    left: 0;
    height: 100svh;
    width: 4vw;
    background-color: var(--bg-100);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    z-index: 40;
    padding: 1rem;
}

.sideBar-items{
    margin-bottom: 2rem;
    display: none;
}

.sideBar-item{
    padding: 10px 0;
    cursor: pointer;
    transition: width 260ms cubic-bezier(0.4,0,0.2,1), margin-right 260ms cubic-bezier(0.4,0,0.2,1), background-color 260ms cubic-bezier(0.4,0,0.2,1), border-radius 260ms cubic-bezier(0.4,0,0.2,1), color 260ms cubic-bezier(0.4,0,0.2,1);
}

.sideBar-item .svg-icon {
    transition: fill 260ms cubic-bezier(0.4,0,0.2,1), transform 260ms cubic-bezier(0.4,0,0.2,1);
}

.sideBar-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
    a{
        border-radius: 50rem;
        padding: 10px 4px;
        display: none;
    }
}

@media (max-width: 940px){

    .sideBar-items{
        display: block;
    }

    .sideBar-options{
        height: 200px;
    }
    .sideBar-options a{
        display: block;
    }

    .sideBar-item:hover,
    .sideBar-item.active{
        width: 55px;
        margin-right: -20px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: var(--primary-100);
        svg{
            fill: var(--bg-100);
        }
        
    }
}

