.main_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 3.5rem;
  z-index: 50;
}
.main_info h1 {
  font-size: 6rem;
  line-height: 2ch;
  margin-block: 1rem;
  text-align: center;
  color: var(--text-100);
}


.main_info span {
  font-size: 1.5rem;
  color: var(--primary-200);
  line-height: 2ch;
  width: 100%;
  padding-inline: 10rem;
}
.main_info p {
  font-size: 1.1rem;
  line-height: 2.3ch;
  opacity: 60%;
  width:55%;
}

.main_links{
  margin-top: 1rem;
}

.main_links svg{
  width: 45px;
  height: 45px;
  padding: 8px;
  background-color: var(--bg-100);
  border-radius: 8px;
  border: 1px solid var(--primary-100);
}

.main_links svg:hover{
  background-color: var(--primary-200);
  cursor: pointer;
  transition: background-color 260ms cubic-bezier(0.4,0,0.2,1);

    fill: var(--bg-100);

}

@media (max-width: 1024px) {
  .main_info p {
    width: 90%;
  }
}

@media (max-width: 900px){
  .main_info span{
    padding-inline: 3.6rem;
  }
}


@media (max-width: 530px) {
  .main_info h1 {
    font-size: 3.7rem;
  }
  .main_info p {
    font-size: .8rem
  }

  .main_info span{
    padding-inline: 3.6rem;
    font-size: .8rem
  }
}

@media (max-width: 390px){
    .main_info span{
    padding-inline: 1rem;
  }
}


