.knowledge-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .knowledge-item{
      position: relative;
      overflow: hidden;
      margin: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 8px;
      border: 1.5px solid var(--accent-100);
      padding: 15px;
      cursor: pointer;
      width: 225px;
      transition: all 0.3s ease-in-out;
      
      h4{
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 2px;
        color: var(--accent-100);
        padding-left: 5px;
        z-index: 2;
      }
      img{
        width: 20%;
        height: 20%;
        z-index: 2;
      }
      span{
        font-size: 12px;
        animation: shine 2s infinite;
            z-index: 2;
      }
    }
}
@keyframes shine {
  0% {
    color: #7fffd4;
  }
  50% {
    color: #4f74cd;
  }
  100% {
    color: #7fffd4;
  }
}

.knowledge-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--hover-color);
  z-index: 1;
  transition: left 0.5s ease-in-out;
}

.knowledge-item:hover h4{
  color: #000;
}

.knowledge-item:hover::before {
  left: 0;
}


@media (max-width: 775px) {
  .knowledge-item{ 
    width: 175px;
  }

}

@media (max-width: 650px) {
  .knowledge-container{
    .knowledge-item{
      margin: 20px 10px; 
      width: 140px;
      padding-inline: 5px;
      h4{
            font-size: 0.8rem;
      }
    }
  }

}




